
body{
    display:flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.header{
    padding: 1em 1em 1em 1em;
    position: relative;
    min-width: auto;
}
.head-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:right;
    list-style: none;
}

.header-items{
    padding: .5em 1em .5em 1em;
    text-decoration: none;
    color:#222;
    cursor: pointer;
}
.header-items:hover{
    text-decoration: underline;
}

.hero{
    max-height: 290px;
    height: calc(100% - 560px);
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.search-buttons{
    display:flex;
    flex-direction:column;
    justify-content: top;
    align-items: center;
    max-height: 160px;
    height: calc(100% - 160px);
}
.secondary-buttons{
    max-width:584;
    max-height:58;
}

.sec-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
}

.sec-button:hover{
    border-color: #babec0;
}
.google-searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5em .2em .2em .2em;
    width:580px;
    border: 0.1px solid #edeef0;
    border-radius: 30px;
}
.search-icon{
    opacity: 0.5;
    width: 20px;
    height: auto;
}

.google-searchbar:hover{
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.search-bar-box{
    border:none;
    padding-left: 1em;
    width: 90%;
    font-size: 1.6rem;
}
.search-bar-box:hover{
    border:none;
}
.language-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    flex-grow: 1;
    max-height: 245;
}


.bottom-banner{
    display:flex;
    flex-direction: column;
    justify-content: bottom;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
}


.bottom-banner-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.region-banner{
    display:flex;
    flex-direction: row;
    align-items:center;
    border-bottom: 1px solid #dadce0;
    padding: 15px 5em;
    font-size: 15px;

}

.end-buttons{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.banner-items{
    text-decoration: none;
    color: rgba(0,0,0,.54);
    cursor: pointer; 
    padding-left: 1em;
    white-space: nowrap
}

.banner-items:hover{
    text-decoration: underline;
}
